
	<table border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
		<tr>
			<td padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 5px; style="font-size: 0; line-height: 0;" height="10" bgcolor="#70bbd9">
				<img src="images/dstencilMail.png" alt="dstencil-img" width="320" height="180" style="display: block;"/>
			</td>
		</tr>
			<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
				<table border="1" cellpadding="0" cellspacing="0" width="100%">
					<tr>
						<td>
							Intro
						</td>
					</tr>
					<tr>
						<td style="padding: 20px 0 30px 0;">
							Main content
						</td>
					</tr>
					<tr>
						<td>
							Closing statement
						</td>
					</tr>
				</table>
			</td>
	
		
		<tr>
			<td bgcolor="#ee4c50">
				row 3
			</td>
		</tr>
	
	</table>



<table>
	<tbody>
		<tr>
			<td><p>You have received a new contact form message. The contents of the message are:</p></td>
		</tr>
		<tr>
			<td><p><%= @message %></p></td>
		</tr>
	</tbody>
</table>