/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
 	background-color: #D2FF00;
 }

 .navbar-header {
 	background-color: #15637C;
 	color: white;
 }

.img-responsive {
	margin-top: 2%;
 	z-index: 1;
 	position:fixed;
 }

 .navbar {
 	z-index: 100;
 }

.navbar-brand {
	color: white;
}

.carousel-inner {
	z-index: -100;
	position:fixed;
}


h1, h2 {
	font-family: arial;
	position: relative;
	z-index: 100;
	color: black;
	margin-top: 15%;

}

.swirl {
	z-index: -100;
	float: right;
	width: 50%;
	margin-top: 20%;
}

#eye {
	float: right;
}

