// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #cad6eb;
	z-index: 1;
}
table {
	background-color: #cad6eb;
	position: static;
	z-index: 1;
	margin-top: 10%;
	


}

.image_style { width:25px;

}