// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	font-family: futura, helvetica, arial, sans-serif;
	color: blue;
	text-align: center;
}

h2 {
	font-family: arial;
	color: aquamarine;
	text-align: center;
}